<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Guessing Game</h1>
    <form action="/process" method="POST">
    {% csrf_token %}
    <label for="number">I'm thinking of a number between 1 and 10...</label>
    <input type="text" name="guess_number" id="guess_number">
    <input type="submit" value="GUESS!">

    <p>Your number is {{request.session.log}}</p>
    
    
    
    
    
    </form>    
</body>
</html>